<div style="color: white; background: transparent; font-family: Lato; font-size: large; text-shadow: 2px 2px black;">

<h1> Welcome to DebConf24 </h1>


<!--p>
<b><big>Talks resume on Thursday</big></b> <br />
   Enjoy the daytrip if you're with us in Busan!
</p-->
<!--
<p>
<b><big> Conference Dinner tonight </big></b> <br />
   Have a nice day enjoying DebConf24!
</p>
-->
<!--
<p>
<b><big>Job fair happening now</big></b> <br />
   Job fair is taking place in front of Bada all afternoon.
</p>
-->

</div>
